.hr {
  background-color: green;
  height: 6px;
  width: 100px;
}
.logo{
  height: 200px;
  width: 200px;
   top: 100%;
  left: 20%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
  background-color: aliceblue;
  
}
.red-nav{
  z-index: 2;
  position: relative;
}
.cover-down{
  /* background-color: green; */
  height: 25px;
  width: 100%;
}
.hr-white{
  background-color: rgb(230, 237, 230);
  height: 6px;
  width: 100px;
}
.one {
  background-color: rgb(10, 199, 51);
  height: 25px;
  width: 100%;
}
.two {
  background-color: rgb(73, 237, 109);
  height: 25px;
  width: 100%;
}
.three {
  background-color: rgb(145, 238, 165);
  height: 25px;
  width: 100%;
}
.four {
  background-color: rgb(238, 16, 16);
  height: 25px;
  width: 100%;
}
.be-friend{
  height: 100%;
  max-height: 400px;
  width: 100%;
  max-width: 500px;
}
/*  */

.image-section {
  position: relative;
}

.image-section .be-friend {
  display: block;
  width: 100%;

  height: auto;
}

.image-section p {
  position: absolute;
  top: 70%;
  left: 49%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.bar{
    

   
  left: 49%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.cover-img{
  position: relative;
}
.cover-text{
 position: absolute;
  top: 32%;
  left: 28%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 55px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.cover-text-1{
  position: absolute;
  top: 40%;
  left: 28%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.cover-svg{
  position: absolute;
  top: 67%;
  left: 28%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.banner-p{
   top: 67%;
  left: 24%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  color: rgb(11, 84, 33);
  
}
.subscribe{
  background-color: rgb(28, 200, 66);
}

@media only screen and (max-width: 600px) {
  .initiatives{
    width: 100%;
  }
  
.profile{
  width: 100px;
  
}
#cover-img, #cover-img-1, #cover-img-2{
  width: 500px;
  height: 300px;
}
#cover-text{
  font-size: 20px;
  margin-left: 21px;
}
#cover-text-1{
  font-size: 15px;
  margin-left: 25px;
}
#cover-btn{
  font-size: 20px;
  margin-left: 18px;
}
#know-bar-image{
  height: 100px;
  width: 100px;
}
}
@media only screen and (min-width: 824px) {
  .initiatives{
    width: 500px;
    
  }
.profile{
  width: 80px;
}
}